.unsupported-message {
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.unsupported-message__title {
    font-size: 48pt;
    color: #fff ;
}